<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB4rEU9dxfO2_F2-26OOT1Ow2hmQWykBAY</string>
	<key>GCM_SENDER_ID</key>
	<string>115117579254</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.udayaapp.cardGame</string>
	<key>PROJECT_ID</key>
	<string>flutterloc-41cf3</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterloc-41cf3.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:115117579254:ios:49d13a3ee38acfcaae05d7</string>
</dict>
</plist>